*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: Arial, Helvetica, 'Trebuchet MS', sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(13,0,129,1) 9%, rgba(0,0,0,1) 36%);
    overflow: hidden;
}

#content-main{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem; 
   
}

#title-main {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 0.8em;
    font-size: 5rem;
}

#content-main h1{
    height: 3em;
    margin-left: 3rem;
    font-size: 4em;
    color: white;
}

button {
    position: relative;
    background: #0b0a0a;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    padding: 1.2rem 3.5rem;
    margin-right: 3rem;
    transition: 0.2s;

  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }

  @media  (min-width: 391px) and (max-width: 681px){
    #title-main {
   text-align: left;
   margin-left: 5%;
   font-size: 5rem ;
    }
  }

  @media screen and (max-width: 390px){
    #title-main{
      font-size: 2.5em;
    }

    #content-main h1{
        height: 3em;
        margin-left: 3rem;
        font-size: 4em;
        color: white;
    }

    #content-main button{
        margin: 0 auto;
        margin-bottom: 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1.2rem 3.5rem;
       
       
    }
  }





